/* css */

canvas 
{
  display: block;
  margin: 0 auto; 
}


#container
{
  height:600px;
  position: relative;
  width: 900px;
  margin: 0 auto;
}

#movebutton
{
  bottom: 20px;
  right:130px;
  position: absolute;
}

#rotatebutton
{
  bottom: 20px;
  right:70px;
  position: absolute;

}

#itemname
{
  bottom: 30px;
  right:150px;
  position: absolute;
  color: white;
  font-family: "Arial";
  font-size: 12px;
}

#base
{
  bottom: 0px;
  position: relative;
  height: 70px;
  background-color: #202020;
  width: 900px;
  margin: 0 auto;
}

#music{

 position: absolute;
 width: 30px;
 left: 10px;
 top: 20px;

}

#message{

 position: absolute;
 width: 500px;
 height: 20px;
 left: 60px;
 top: 20px;

}